<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <figure class="figure">
      <img src="../Images/NosborCorporation.png" alt="Nosbor Corporation" class="figure-img img-fluid rounded">
      <figcaption class="figure-caption">Nosbor Corporation</figcaption>
    </figure>
    NosCorp
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button type="button" class="btn btn-outline-dark" routerLink="listUser">List User</button>
      <button type="button" class="btn btn-outline-dark" routerLink="formUser">Form User</button>
      <button type="button" class="btn btn-outline-dark" routerLink="listPop">List Poppy</button>
      <button type="button" class="btn btn-outline-dark" routerLink="formPop">Form Poppy</button>
      <button type="button" class="btn btn-outline-dark" >Dark</button>
    </div>
  </div>
</nav> -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">NosCorp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="btn btn-outline-dark" [routerLink]="['/listUser']" routerLinkActive="router-link-active">List User<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" [routerLink]="['/formUser']" routerLinkActive="router-link-active">Form User<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" [routerLink]="['/listPop']" routerLinkActive="router-link-active">List Pop<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" [routerLink]="['/formPop']" routerLinkActive="router-link-active">Form Pop<span class="sr-only"></span></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>