<div  class="container" *ngIf="user">
    <div>
      <label>First Name: </label> {{user.firstName}}
    </div>
    <div>
      <label>Last Name: </label> {{user.lastName}}
    </div>
    <div>
      <label>Email: </label> {{user.email}}
  </div>
   
    <!-- <span class="button is-small btn-primary" *ngIf='user.id' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Active</span>
  -->
    <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>
    <hr />
</div>